---
import SpaLayouts from "../layouts/SpaLayouts.astro";
---

<SpaLayouts title="Hakkımızda">
  <div class="text-center pb-5">
    <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Hakkımızda</h1>
    <div class="max-w-4xl mx-auto mt-8">
      <div class="mb-8">
        <h2 class="text-lg font-semibold mb-2">Vizyonumuz:</h2>
        <p class="text-gray-700 leading-relaxed mx-8">
          Üye mutluluğunu ve gelişimini esas alarak uluslararası standartlarda
          inovatif, bilimsel ve eleştirebilen gençleri birleştirici en kolektif
          topluluk olmak
        </p>
      </div>
      <div>
        <h2 class="text-lg font-semibold mb-2">Misyonumuz:</h2>
        <p class="text-gray-700 leading-relaxed mx-8">
          Üyelerimize sunduğumuz kariyer gelişim noktaları ve geniş network
          ağıyla hem kulüp departmanları olarak kendimizi hem de üyelerimizi iş
          hayatına hazırlarken aynı zamanda sosyal becerilerini
          geliştirebilecekleri alanlar sunup nitelik kazandırmak
        </p>
      </div>
    </div>
  </div>
</SpaLayouts>
