---
import { useSanityClient } from "@sanity/astro";
import SpaLayouts from "../layouts/SpaLayouts.astro";

const posts = await useSanityClient()
  .fetch(`*[_type == "author"] {slug,bio,name , image{
     asset -> {
       _id,
       url
     }
  }}
`);
---

<SpaLayouts>
  <div class="text-center pb-5">
    <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Hakkımızda
    </h1><p class="text-lg mt-4 text-slate-600">Misyonumuz:</p>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 max-w-6xl mx-auto gap-16"
  >
    {
      posts.map((item) => (
        <div class="w-full md:max-w-sm rounded overflow-hidden shadow-lg">
          <img
            class="w-full h-64"
            src={item.image.asset.url}
            alt="Sunset in the mountains"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{item.name}</div>
            <p class="text-gray-700 text-base">
              {item.bio.map((block) => (
                <div>
                  {block.children.map((child) => (
                    <div>{child.text.slice(0, 125)}</div>
                  ))}{" "}
                </div>
              ))}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</SpaLayouts>
