---
import Cards from "../components/Cards.astro";
import Intro from "../components/Intro.astro";
import SpaLayouts from "../layouts/SpaLayouts.astro";
---

<SpaLayouts>
  <div class="mx-auto max-w-5xl"></div>
</SpaLayouts>
