---
import SpaLayouts from "../layouts/SpaLayouts.astro";
import ContactMe from "../components/ContactMe.astro";
---

<SpaLayouts>
  <div class="max-w-6xl mx-auto">
    <div>selma</div>
    <ContactMe />
  </div>
</SpaLayouts>
