---

---

<section id="about" class="py-16">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row-reverse items-center justify-between">
      <div class="md:w-1/2 m-6 md:mt-0">
        <img src="/biz.jpg" alt="ELT" class="rounded-lg shadow-lg" />
      </div>
      <div class="md:w-1/2 flex-col flex md:block">
        <h2 class="text-3xl text-center md:text-left font-semibold mb-4">
          Klup Hakkında
        </h2>
        <p class="text-lg mb-6 text-center md:text-left">
          Biz, eğlenceli ve unutulmaz anlar yaşamanızı sağlamak için buradayız.
          Kariyer hedeflerine ulaşma istiyorsanız, doğru yerdesiniz.
        </p>
        <a
          href="/events"
          class="bg-blue-500 w-1/2 mx-auto md:w-fit text-white text-center hover:bg-blue-400 py-2 px-6 rounded-full text-lg font-semibold transition duration-300"
          >Etkinliklerimiz</a
        >
      </div>
    </div>
  </div>
</section>
