---

---

<header class="max-w-6xl mx-auto">
  <nav class="flex items-center justify-center space-x-2 md:space-x-5">
    <a
      class="text-sm font-medium text-gray-600 hover:text-blue-500 dark:text-gray-400"
      target=""
      rel=""
      href="/">Anasayfa</a
    ><a
      class="text-sm font-medium justify-center text-gray-600 hover:text-blue-500 dark:text-gray-400"
      target=""
      rel=""
      href="/about">Hakkımızda</a
    ><img
      class="w-32 md:w-2/12"
      alt="Logo"
      fetchpriority="high"
      width="132"
      height="52"
      decoding="async"
      data-nimg="1"
      sizes="(max-width: 640px) 100vw, 200px"
      src="./logo.png"
      style="color: transparent;"
    />
    <a
      class="text-sm font-medium justify-center text-gray-600 hover:text-blue-500 dark:text-gray-400"
      target=""
      rel=""
      href="/post"><span>Blog</span></a
    ><a
      class="text-sm font-medium justify-center text-gray-600 hover:text-blue-500 dark:text-gray-400"
      rel="noopener"
      href="/contact"><span>İletişim</span></a
    >
  </nav>
</header>
