---

---

<section class="bg-gradient-to-r from-blue-500 to-purple-500 text-white py-12">
  <div class="container mx-auto text-center">
    <h1 class="text-4xl font-semibold mb-4">Hoş Geldiniz!</h1>
    <p class="text-lg mb-8">Aybü Endüstri ve Liderlik Topluluğu</p>
    <a
      href="/about"
      class="scroll-smooth bg-white text-blue-500 hover:bg-blue-400 py-2 px-6 rounded-full text-lg font-semibold transition duration-300"
      >Hakkımızda</a
    >
  </div>
</section>
